.header {
    width: 100%;
    height: 30vh; /* Define a altura do cabeçalho */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Permite usar z-index */
    z-index: 1; /* Garante que o cabeçalho fique sobre a imagem */
    padding: 0 20px; /* Espaçamento da esquerda e direita */
    background-color: rgba(255, 255, 255, 0.8); /* Pode adicionar um fundo semi-transparente */
}

.logo {
    width: 45%;
    height: auto;
}

.nav a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.cta {
    color: #FF5722; /* Cor do botão de chamada para ação */
}
