.headercontainer {
    display: flex;
    width: 100%;
    height: clam(60px, 10vh, 90px);
    align-items: center;
    justify-content: left;
    background: #013923;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo{
    height: clamp(40px, 8vh, 80px);
    width: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.logo:hover{
    transform: scale(1.05);
}